* {
    font-family: 'Poppins';
}

body {
    background-color: #f0fdff;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    text-decoration-line: none;
}

.container {
    width: 25vw;
}

.content {
    display: flex;
}

.container, .content {
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: #efefef;
    border: 1px solid #000000;
}

.container > ol {
    position: relative;
    left: -10px;
}
 
.container > ol > a {
    font-size: 20px;
}

.content > .text-content {
    width: 75vw;
}

.content > .images {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 200px;
}
